@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Lobster+Two&family=Orbitron:wght@400..900&family=Playwrite+MX+Guides&display=swap');
.nav-link:hover {
    color: #0d6efd;
    text-decoration: underline;
}

.lobster-two-regular {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .orbitron-simple {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }